h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: red;
    width: 100%;
    text-align: center;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 10px;

}