.noto-serif {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

body {
    background-color: #080708;
}
h1 {
    font-family: "Space Grotesk", sans-serif;
    color: #f1f1f1;
    text-align: center;
    font-size: 40px;
}

.shelf {
    width: 100%;
    height: 50px;
    border-bottom: #6c6b6b;
    border-width: 0;
    border-bottom-width: 2px;
    border-style: ridge;
}

.logo {
    height: 40px;
    padding-top: 5px;
    padding-left: 2px;
    text-decoration: none;
}

.logoText {
    font-family: "Space Grotesk", sans-serif;
    color: #FFFAFF;
    display: inline;
    padding-left: 5px;
    font-size: 36px;
    position: relative;
    bottom: 7px;
}

.resources {
    float: right;
}

.shelfButton {
    background-color: #FFFAFF;
    color: #080708;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 50px;
    float: right;
}

.shelfButton:hover {
    background-color: #585858;
}


/* Dropdown Button */
.dropbtn {
    background-color: #FFFAFF;
    color: #080708;
    padding: 16px;
    font-size: 16px;
    border: none;
    height: 50px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    /* display: inline-block; */
    float: right;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 50px;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #585858;
}

.infoShelf {
    padding-top: 20px;
    width: 100%;
    display: flex;
}

.infoBox {
    color: #080708;
    height: 300px;
    background-color: #145C9E;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    flex: 1;
}