<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/index.css">
    <script src="index.js"></script>
    <title>{{ page.title }} | Flock SF</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-width, initial- scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif&family=Space+Grotesk:wght@700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <header>
            <div class="shelf ">
                <div class="dropdown">
                    <a href="resources"><button class="shelfButton">Resources</button></a>
                    <div class="dropdown-content">
                        <a href="https://deflock.me" target="_blank" rel="noopener noreferrer">Deflock</a>
                        <a href="#">Link 2</a>
                        <a href="#">Link 3</a>
                    </div>
                </div>
                <a href="news"><button class="shelfButton">News</button></a>
                <a class="logo" href="/">
                    <img class="logo" src="/images/favicon.ico"></img>
                    <div class="logoText">Flock SF</div>
                </a>
            </div>
        </header>
        <main>
            {{ content }}
        </main>
        <footer>
            <div class="footerFade"></div>
            <div class="footerWrapper">
                <a href="https://github.com/zachary-schwartz/flocksf"><img class="socials"
                        src="/images/github-mark-white.png"></img></a> <br>
                <a>Not associated with Flock Safety, Flock Group Inc, or any public agency. </a>
                <a class="footer" href="https://creativecommons.org/licenses/by-nc-sa/4.0/">CC BY-NC-SA</a>
            </div>
        </footer>
    </div>
</body>

</html>